vti_encoding:SR|utf8-nl
vti_timelastmodified:TR|15 Oct 2010 21:39:32 -0000
vti_extenderversion:SR|12.0.0.0
vti_backlinkinfo:VX|Album/q4.html Album/q5.html Album/q6.html Album/q3.html Album/q1.html Album/q2.html Album/q.html Album/q8.html Album/q7.html
vti_author:SR|CLIENT104\\client 104
vti_modifiedby:SR|FUJITSU\\HALA
vti_timecreated:TR|15 Oct 2010 23:39:32 -0000
vti_cacheddtm:TX|15 Oct 2010 21:39:32 -0000
vti_filesize:IR|2464
